@model List<LinkSocial1.DTO.MensajeDto>
@{
    ViewData["Title"] = "Chat";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Mensajes/PaginaChatMensaje.css">


</head>

<body>
    <div class="container">

        <h1>Chat con usuario</h1>
        <!--Muestro los mensajes entre los usuarios-->
        <div id="chat-container">
            @foreach (var mensaje in Model)
            {
                <div>
                    <strong>@mensaje.usuariosEnvia.nombreCompleto:</strong> @mensaje.contenidoMensaje
                </div>
            }
        </div>
         <!--Formulario para enviar mensajes-->
        <form method="post" action="@Url.Action("enviarMensaje", "ControladorMensajes")">
            <input type="hidden" name="idUsuarioDestino" value="@ViewBag.IdUsuarioDestino" />
            <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar mensaje</button>
        </form>



    </div>

    <!-- Bootstrap JS y Popper.js (si es necesario) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
