<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        #imagenPrevia {
            max-width: 300px;
            max-height: 300px;
            margin: 20px auto;
            border: 2px solid #ccc;
            display: none;
        }

        #sidebar {
            width: 10%;
            height: 100vh;
            background: #343a40;
        }

        main {
            text-align: center;
        }

        .img-container {
            margin: 10px;
            border: 1px solid #ccc;
            padding: 5px;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            font-size: 10px; /* Ajusta el tamaño de fuente según tus preferencias */
        }

            .img-container header,
            .img-container footer {
                background-color: #333;
                color: #fff;
                padding: 5px;
                font-size: 11px; /* Ajusta el tamaño de fuente según tus preferencias */
            }

        img {
            max-width: 30%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

    </style>
</head>

<body>
    <!-- Contenido principal -->
    <main>
        <div class="container">
            <h1>Nueva Publicacion</h1>
            <img id="imagenMostrada" src="#" alt="Imagen" style="display:none; max-width: 500px; max-height: 500px; margin: 20px auto; border: 2px solid #ccc;" />


            <form method="post" enctype="multipart/form-data" action="@Url.Action("guardarPublicacion", "ControladorSubirPublicaciones")">

                <div class="form-outline mb-4">
                    <label class="form-label" for="imagen">Foto.</label>
                    <input type="file" accept="image/jpeg,image/png, image/jpg" id="imagen" name="imagen" onchange="mostrarImagen()" class="form-control " />
                </div>

                <button type="submit" class="btn btn-primary">
                    Subir Foto
                </button>

            </form>
        </div>
    </main>


    <script>
        function mostrarImagen() {
            var input = document.getElementById('imagen');
            var imagenMostrada = document.getElementById('imagenMostrada');

            var reader = new FileReader();
            reader.onload = function (e) {
                imagenMostrada.src = e.target.result;
                imagenMostrada.style.display = 'block';
                imagenMostrada.style.display = 'block';
            }

            reader.readAsDataURL(input.files[0]);
        }
    </script>
</body>

</html>
