@{
    ViewData["Title"] = "Lista de Publicaciones";
    var listaPublicaciones = ViewData["listaPublicaciones"] as List<DB.Modelo.Publicaciones>;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
        #sidebar {
            width: 10%;
            height: 100vh;
            background: #343a40;
        }

        main {
            text-align: center;

        }

        .img-container {
            margin: 10px;
            border: 1px solid #ccc;
            padding: 5px;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            font-size: 10px; /* Ajusta el tamaño de fuente según tus preferencias */
            width: 400px; /* Ajusta el ancho del contenedor según tus preferencias */
            height: 400px; /* Establece la altura igual al ancho para hacerlo cuadrado */
        }

            .img-container img {
                max-width: 100%;
                max-height: 100%;
                display: block;
                margin: 0 auto;
            }

    </style>
</head>

<body>
    <div class="d-flex">
        <!--Menu lateral-->
        <div id="sidebar">
            <div class="p-2">
                <a href="#" class="navbar-brand text-center text-light w-100 p-4 border-bottom">
                    LinkSocial
                </a>
            </div>
            <div id="sidebar-accordion" class="accordion">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action bg-dark text-light" asp-area="" asp-controller="ControladorPaginaInicio" asp-action="cargarPaginaInicio">
                        <i class="fa fa-home" aria-hidden="true"></i> Inicio
                    </a>
                    <a class="list-group-item list-group-item-action bg-dark text-light" asp-area="" asp-controller="ControladorSubirPublicaciones" asp-action="cargarPaginaSubirPublicaciones">
                        <i class="fa fa-file-image-o" aria-hidden="true"></i> Subir Publicacion
                    </a>

                    <a class="list-group-item list-group-item-action bg-dark text-light" asp-area="" asp-controller="ControladorIniciarSesion" asp-action="CerrarSesion">
                        <i class="fa fa-search" aria-hidden="true"></i> Buscar
                    </a>
                    <a class="list-group-item list-group-item-action bg-dark text-light" asp-area="" asp-controller="ControladorIniciarSesion" asp-action="CerrarSesion">
                        <i class="fa fa-envelope-open" aria-hidden="true"></i> Mensajes
                    </a>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-area="" asp-controller="ControladorAdministracion" asp-action="irPaginaAdmin"
                           class="list-group-item list-group-item-action bg-dark text-light">
                            <i class="fa fa-address-card" aria-hidden="true"></i> Administracion
                        </a>
                    }

                    <a class="list-group-item list-group-item-action bg-dark text-light" asp-area="" asp-controller="ControladorIniciarSesion" asp-action="CerrarSesion">
                        <i class="fa fa-user-circle" aria-hidden="true"></i> Perfil
                    </a>
                    <a class="list-group-item list-group-item-action bg-dark text-light" asp-area="" asp-controller="ControladorIniciarSesion" asp-action="CerrarSesion">
                        <i class="fa fa-cog" aria-hidden="true"></i> Ajustes
                    </a>
                    <a class="list-group-item list-group-item-action bg-dark text-light" asp-area="" asp-controller="ControladorIniciarSesion" asp-action="CerrarSesion">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>Cerrar Sesión
                    </a>
                </div>
            </div>
        </div>
        <div class="flex-grow-1 mx-auto col-6">
            
            <div class="container">
                <h2 style="text-align:center;">LinkSocial</h2>
            </div>

          
            <main>
                @foreach (var publicacion in listaPublicaciones)
                {
                    <div class="img-container mx-auto mb-4">
                        <!-- Añade margen inferior (mb-4) para separar las imágenes -->

                        <img src="@publicacion.contenidoPublicacion" class="img-fluid" style="width: 400px; height: 400px;"> <!-- Reemplaza con el nombre del campo que contiene la ruta de la imagen -->

                    </div>
                }
            </main>

        </div>
    </div> 
</body>
</html>
