
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Tu título aquí</title>

    <style>
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
            z-index: -1; /* Asegura que el fondo oscuro esté detrás de la imagen */
        }

        body {
            background-image: url('/imagenes/fotoFondoInicioSesion.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            margin: 0;
        }
        /* Añade estos estilos para el formulario transparente y bordes redondeados */
        .bg-glass {
            background-color: rgba(255, 255, 255, 0.5); /* Color blanco con 50% de opacidad */
            border-radius: 15px; /* Ajusta el radio de los bordes según tu preferencia */
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>
<body>
    <section class="background-radial-gradient vh-100 overflow-hidden">
        <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
            <div class="row gx-lg-5 mb-5">
                <div class="col-lg-6 mb-5 mb-lg-4" style="z-index: 10; margin-bottom: 2rem; margin-top: 160px;">
                    <h1 class="my-4 display-3 fw-bold ls-tight animate__animated animate__fadeIn" style="color: hsl(218, 81%, 95%); font-size: 3.5rem; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
                        Regístrate para formar parte de <br />
                        <span style="color: hsl(216, 20%, 5%); font-weight: bold;">LinkSocial</span>
                    </h1>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                    <div id="formularioInicio" class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">

                            <form method="post" action="@Url.Action("RegistrarUsuario", "ControladorRegistrarUsuarios")">

                                <!-- Email -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="nombreCompleto">Nombre Completo.</label>
                                    <input type="text" id="nombreCompleto" name="nombreCompleto" class="form-control" required/>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="correoElectronico">Correo.</label>
                                    <input type="email" id="correoElectronico" name="correoElectronico" class="form-control" required />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="dniUsuario">Dni.</label>
                                    <input type="text" id="dniUsuario" name="dniUsuario" class="form-control" required />
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="movilUsuario">Movil.</label>
                                    <input type="tel" id="movilUsuario" name="movilUsuario" class="form-control" required />
                                </div>

                                <!-- Contraseña -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="contraseña">Contraseña</label>
                                    <input type="password" id="contraseña" name="contraseña" class="form-control" required />
                                </div>
                                <!-- Confirmar Contraseña -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="confirmarContraseña">Confirmar Contraseña</label>
                                    <input type="password" id="confirmarContraseña" name="confirmarContraseña" class="form-control" required />
                                </div>
                                
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="contraseña">Fecha Nacimiento.</label>
                                    <input type="date" id="fchNacimiento" name="fchNacimiento" class="form-control" required />
                                </div>
                                
                                <!-- Botón de Iniciar Sesión -->
                                <button id="btn-registrar" type="submit" class="btn btn-primary btn-block mb-4">
                                    Crear Cuenta
                                </button>
                                <div id="mensajeError" class="text-danger mb-4" style="display: none;"></div>

                              
                            </form>
                            <!--Mensaje de error si el correo o dni ya existen.-->
                            @if (TempData["ErrorRegistro"] != null)
                            {
                                <div class="alert alert-danger">
                                    @TempData["ErrorRegistro"]
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<script>
    // Obtén referencias a los campos de contraseña y confirmación
    var contraseña = document.getElementById("contraseña");
    var confirmarContraseña = document.getElementById("confirmarContraseña");
    var mensajeError = document.getElementById("mensajeError");

    // Agrega un listener al formulario para validar la confirmación de la contraseña antes de enviar
    document.getElementById("formularioInicio").addEventListener("submit", function (event) {
        // Expresión regular que verifica que la contraseña tenga al menos una letra y al menos un número
        var regex = /^(?=.*[A-Za-z])(?=.*\d).+$/;

        if (contraseña.value !== confirmarContraseña.value) {
            // Muestra el mensaje de error si las contraseñas no coinciden
            mensajeError.innerText = "Las contraseñas no coinciden.";
            mensajeError.style.display = "block";
            event.preventDefault(); // Evita que el formulario se envíe
        } else if (!regex.test(contraseña.value)) {
            // Muestra el mensaje de error si la contraseña no cumple con los requisitos
            mensajeError.innerText = "La contraseña debe contener al menos una letra y al menos un número.";
            mensajeError.style.display = "block";
            event.preventDefault(); // Evita que el formulario se envíe
        } else {
            // Oculta el mensaje de error si las contraseñas coinciden y cumplen con los requisitos
            mensajeError.style.display = "none";
        }
    });
</script>