@{
    Layout = null;

}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Ajustes/PaginaAjustes.css">
  
</head>

<body>
    <div class="d-flex">
        <!--Menu lateral-->
        <div id="sidebar">
            <div class="p-2">
                <a href="#" class="navbar-brand text-center text-light w-100 p-4 border-bottom">
                    LinkSocial
                </a>
            </div>
            <div id="sidebar-accordion" class="accordion">
                <div class="list-group">

                    <a asp-controller="ControladorAjustes" asp-action="irAModificarContraseña" data-toggle="collapse" aria-expanded="false"
                       class="list-group-item list-group-item-action bg-dark text-light">
                        <i class="fa fa-cog mr-3" aria-hidden="true"></i>Modificar Contraseña
                    </a>
                   

                </div>
            </div>
        </div>
        <!--Fin menu lateral-->

    </div>
   
   

</body>

</html>


