#imagenPrevia {
    max-width: 300px;
    max-height: 300px;
    margin: 20px auto;
    border: 2px solid #ccc;
    display: none;
}

#sidebar {
    width: 10%;
    height: 100vh;
    background: #343a40;
}

main {
    text-align: center;
}

.img-container {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 10px; /* Ajusta el tamaño de fuente según tus preferencias */
}

    .img-container header,
    .img-container footer {
        background-color: #333;
        color: #fff;
        padding: 5px;
        font-size: 11px; /* Ajusta el tamaño de fuente según tus preferencias */
    }

img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}
