@model DB.Modelo.Usuarios

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Tu título aquí</title>
    <link rel="stylesheet" href="~/css/RecuperarContraseña/recuperarContraseña.css" />

</head>

<body>
    <section class="background-radial-gradient vh-100 overflow-hidden">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div id="containerPrincipal" class="col-md-8 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                    <div id="formularioInicio" class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">

                            <form class="form" asp-controller="ControladorRecuperarContraseña" asp-action="IniciarRecuperacion" method="post">

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="correoElectronico">Correo</label>
                                    <input type="email" id="correoElectronico" name="correoElectronico" class="form-control" />
                                </div>

                                <div class="container">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Recuperar</button>
                                    </div>
                                </div>

                               

                                <div class="text-right mt-1">
                                    <p>Te enviaremos un correo electrónico para que cambies la contraseña</p>
                                </div>


                              
                            </form>

                            <div class="mt-5 mx-auto text-center">
                              
                                @if (TempData["MensajeError"] != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @TempData["MensajeError"]
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </body>

</html>
