@model DB.Modelo.Usuarios

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Tu título aquí</title>

    <style>
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        body {
            background-image: url('/imagenes/fotoFondoInicioSesion.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .bg-glass {
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 15px;
        }

        #formularioInicio {
            width: 100%;
        }
    </style>

   
</head>

<body>
    <section class="background-radial-gradient vh-100 overflow-hidden">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div id="containerPrincipal" class="col-md-8 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                    <div id="formularioInicio" class="card bg-glass">
                        <div class="card-body px-4 py-5 px-md-5">

                            <form class="form" asp-controller="ControladorRecuperarContraseña" asp-action="IniciarRecuperacion" method="post">

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="correoElectronico">Correo</label>
                                    <input type="email" id="correoElectronico" name="correoElectronico" class="form-control" />
                                </div>

                                <div class="container">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Recuperar</button>
                                    </div>
                                </div>

                               

                                <div class="text-right mt-1">
                                    <p>Te enviaremos un correo electrónico para que cambies la contraseña</p>
                                </div>


                              
                            </form>

                            <div class="mt-5 mx-auto text-center">
                              
                                @if (TempData["MensajeError"] != null)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        @TempData["MensajeError"]
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </body>

</html>
