@model DB.Modelo.Usuarios

<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .fixed-sidebar {
        position: fixed;
        height: 100%;
        top: 67px;
        left: 0;
        background-color: #f0f0f0;
        padding: 20px;
        box-sizing: border-box;
        width: 250px;
    }

    .nav {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    .nav-link {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    /* Estilo adicional para hacer scroll horizontal en el formulario */
    .form-container {
        overflow-x: auto;
        margin-left: 250px; /* Ajusta según el ancho del menú lateral */
        margin-right: 20px; /* Ajusta según tus necesidades */
        margin-top: 20px;
    }
</style>

<nav class="fixed-sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" asp-controller="ControladorAdministracion" asp-action="irUsuario">Usuario</a>
        </li>
    </ul>
</nav>

<div class="form-container">
    <div class="container">
        <h2 style="text-align:center;">Actualizar Usuarios</h2>
    </div>
    <form asp-controller="ControladorAdministracion" asp-action="GuardarEdicion" method="post">
        <input type="hidden" asp-for="idUsuario" />
        <input type="hidden" asp-for="dniUsuario" />
        <input type="hidden" asp-for="contraseña" />

        <div class="form-outline mb-4">
            <label class="form-label" for="nombreCompleto">Nombre Completo.</label>
            <input type="text" asp-for="nombreCompleto" class="form-control" />
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="correoElectronico">Correo Electronico.</label>
            <input type="email" class="form-control" asp-for="correoElectronico" />
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="movilUsuario">Telefono</label>
            <input type="tel" asp-for="movilUsuario" class="form-control" />
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="rolAcceso">Rol.</label>
            <select class="form-control" asp-for="rolAcceso" id="rolAcceso" name="rolAcceso">
                <option value="basico">Basico</option>
                <option value="admin">Administrador</option>
            </select>
        </div>

        <button id="btn-actualizar" type="submit" class="btn btn-primary">
            Actualizar Datos
        </button>
    </form>
</div>
