@model LinkSocial1.DTO.UsuariosDTO
@{
    // Layout = "_LayoutSidebar"; // Especifica el nuevo layout
    Layout = null;
}
<!doctype html>


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Administracion/paginaEdicionUsuarios.css">
   
</head>


<div class="d-flex">
    <div class="flex-grow-1">
        <div class="container">
            <h2 style="text-align:center;">Actualizar Usuarios</h2>
        </div>
        <div class="container">
        <form asp-controller="ControladorAdministracion" asp-action="GuardarEdicion" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="idUsuario" />
            <input type="hidden" asp-for="dniUsuario" />
            <input type="hidden" asp-for="contraseña" />

            <div class="text-center mt-4">
                <div class="rounded-circle overflow-hidden mx-auto" style="width: 150px; height: 150px; border: 5px solid #fff;">
                    <img src="@Model.rutaImagen" class="img-fluid" alt="Foto del Usuario">
                </div>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="nombreCompleto">Nombre Completo.</label>
                <input type="text" asp-for="nombreCompleto" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="correoElectronico">Correo Electronico.</label>
                <input type="email" class="form-control" asp-for="correoElectronico" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="movilUsuario">Telefono</label>
                <input type="tel" asp-for="movilUsuario" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="rolAcceso">Rol.</label>
                <select class="form-control" asp-for="rolAcceso" id="rolAcceso" name="rolAcceso">
                    <option value="basico">Basico</option>
                    <option value="admin">Administrador</option>
                </select>
            </div>

           
                <div class="form-outline mb-4">
                    <label class="form-label" for="imagen">Foto.</label>
                    <input type="file" accept="image/jpeg,image/png, image/jpg" asp-for="rutaImagen" id="rutaImagen" name="imagen" class="form-control " />
                </div>

            <button id="btn-actualizar" type="submit" class="btn btn-primary">
                Actualizar Datos
            </button>
        </form>
        </div>
    </div>
   
</div>
